a {
    display: block;
    text-align: center;
    padding: 20px 0px;
}

@media screen and (max-width:767px){ /*MOBILE*/
    a {
        width: 170px;
        font-size: 0.8em;
    }
}
@media screen and (min-width:768px){
    a {
        width: 270px;
    }
}
