* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: white;
}

:root {
    --bg-color: #0f172a;
    --card:#1e293b;
    --accent: #38bdf8;
    --hover: #31a8db;
    --muted: #94a3b8;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    line-height: 1.6;
}

header {
        text-align: center;
        padding: 15px;
        margin-top: 50px;
        margin-bottom: 100px;
    }

header span {
    color: var(--accent);
}

header p {
    margin: 15px auto;
    max-width: 600px;
    color: var(--muted);
}

main {
    margin: 15px;
    max-width: 1100px;
    margin-bottom: 50px;
}

h2 {
    border-left: 4px solid var(--accent);
    padding-left: 8px;
    margin-bottom: 20px;
}

section {
    margin-top: 20px;
    padding: 10px;
}

a {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold; 
}

a:hover {
    color: var(--hover);
}

.tag {
    background-color: var(--card);
    padding: 10px;
    border-radius: 15px;
    line-height: 2.7;
    font-size: 0.95rem;
}

h3 {
    color: var(--accent);
}

footer {
    padding: 10px;

    text-align: center;
    color: var(--muted);
}

footer a {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
}

.cards {
    display: grid;
    gap: 10px;
}

.card {
    padding: 15px;
    border-radius: 15px;
    background-color: var(--card);
    transition: 0.2s;
    max-width: 400px;
    height: 180px;
}

.card:hover {
    transform: translateX(-5px);
}

.card p {
    font-size: 0.95rem;
    color: var(--muted);
}

@media screen and (min-width: 600px) { 

    main {
        max-width: 1100px;
        margin: auto;
        margin-bottom: 50px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .card {
        height: 250px;
    }

    .card:hover {
        transform: translateY(-5px);
        transform: translateX(0);
    }

}