* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    width: 100%;
    height: 100%;
}

header {
    text-align: center;
    background-color: lightblue;
    padding: 15px;
}

main {
    width: 800px;
    margin: auto;
}

section {
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px 0px 1px black;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;

    text-align: center;
    background-color: black;
    color: white;
}