* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: white;
}

:root {
    --bg-color: #0f172a;
    --card:#1e293b;
    --accent: #38bdf8;
    --muted: #94a3b8;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 100px;
}

header span {
    color: var(--accent);
}

header p {
    margin: 15px auto;
    width: 600px;
    color: var(--muted);
}

main {
    width: 1100px;
    margin: auto;
    margin-bottom: 50px;
}

h2 {
    border-left: 4px solid var(--accent);
    padding-left: 8px;
    margin-bottom: 20px;
}

section {
    margin-top: 20px;
    padding: 10px;
}

.tag {
    background-color: var(--card);
    padding: 10px;
    border-radius: 15px;
    font-size: 0.95rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    padding: 15px;
    border-radius: 15px;
    background-color: var(--card);
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card a {
    text-decoration: none;
    color: var(--accent);
    font-weight: bold;
}

h3 {
    color: var(--accent);
}

.card p {
    font-size: 0.95rem;
    color: var(--muted);
}

footer {
    padding: 10px;

    text-align: center;
    color: var(--muted);
}