@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    font: normal normal 'Arial';
}

body {
    background-color: darkgray;
}

div#analog-clock {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 300px;
    height: 300px;
    background-color: gray;
    box-shadow: 3px 3px 10px black, inset 10px 10px 100px rgba(0, 0, 0, 0.603);
    border: 1px solid black;
    border-radius: 50%;
}

div#axis {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;

    width: 13px;
    height: 13px;
    background-color: red;
    border-radius: 50%;
}

div.pointer {
    display: block;
    position: absolute;
    transform: translate(-50%,0%);
    top: 50%;
    left: 50%;

    border-radius: 0% 0% 35% 35%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.562);
}

div#hours {
    width: 7px;
    height: 100px;
    background-color: white;
}

div#minutes {
    width: 7px;
    height: 140px;
    background-color: rgb(255, 255, 255)
}

div#seconds {
    width: 2px;
    height: 140px;
    background-color: red;
}