@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font: normal 1.25em 'Arial';
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 44);  /*Change color based on sun*/
    background-image: radial-gradient(circle at 20px 20px, yellow 5%, lightblue 70%, blue);
    overflow: hidden;
}

div#digital-clock {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-color: white;
    margin: auto;
    text-align: center;
    padding: 10px;
    width: 8em;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black; /*Make shadow run oposite to the sun*/
}

div#sun-axis, div#moon-axis { /*This divs shouldn't exist*/
    position: absolute;
    bottom: 0%;
    left: 50%;
}

div#sun-axis {
    width: 600px;
}

div#moon-axis {
    width: 500px;
}

div#sun, div#moon {
    position: relative;
    top: 50%;
    left: 100%;
    transform: translate(-50%,-50%);

    
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.829);
    border-radius: 50%;
}

div#sun {
    background-color: yellow;
    width: 70px;
    height: 70px;
}

div#moon {
    background-color: white; /*Make shadow*/
    width: 50px;
    height: 50px;
}