@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --font1: 'Bebas Neue', Verdana, 'Geneva', Tahoma, sans-serif;
    --font2: 'Work Sans', arial, sans-serif;
    --font2: 'Passion One', 'cursive';
    --font3: 'Sriracha', 'cursive'; 

    --backgroundColor: rgb(245, 245, 245);
    --headerColor: rgb(212, 212, 212);
    --textColor: 'rgb(240,0,0)';
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05em;
    line-height: 1.5em;
    box-sizing: border-box;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    overflow-x: hidden;
}

header {
    padding: 10px;
    background-color: var(--headerColor);
    font-size: 1.3em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.322);
}

h1 {
    font-size: 1.5em;
    font-family: var(--font1);
    letter-spacing: 0.1em;
}

h2 {
    font-family: var(--font4);
    font-size: 1.5em;
}

main {
    padding: 10px;
    font-size: 1.2em;
    background-color: rgb(187, 187, 187);
    overflow-y: hidden;
    width: 100vw;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

nav {
    background-color: rgb(228, 228, 228);
    display: block;
    padding: 5px;
    font-size: 1.5em;
    text-align: center;
}

nav a:hover {
    cursor: pointer;
}

div#project1-img {
    background-image: url(../projects/clock-test/analog-clock/project-img.png);
}

div#project2-img {
    background-image: url(../projects/clock-test/sunbased-clock/project-img.png);
}

div#project3-img {
    background-image: url(../projects/clock-test/solar-system/project-image.png);
}

div.paralax {
    position: relative;
    height: 250px;
    max-width: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#button {
    display: none;
    vertical-align: middle;
    max-width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.712);
    font-size: 2em;
}

div.paralax:hover a {
    display: inline-block;
}

p {
    text-indent: 30px;
}

li {
    max-width: 1200px;
    display: block;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.692);
    background-color: white;
    list-style-type: none;
    margin-top: 15px;
}

a.button {
    display: block;
    border-radius: 10px;
    border: 1px solid black;
    padding: 7px 12px;
    color: var(--textColor);
    text-decoration: none;
}

nav {
    height: 83%;
}

nav .item {
    margin: 10px;
}

iframe {
    width: 100%;
    height: 500px;
}

a.button:hover, nav .item:hover {
    background-color: rgb(228, 228, 228);
    outline: 1px solid black;
}

a.button:active {
    background-color: rgb(207, 206, 206);
}

footer {
    display: block;
    margin-top: 20px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.329);
    padding: 7px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.2em;
}