@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 2.6vh;
    line-height: 4vh;
    box-sizing: border-box;
}

:root {
    --fontTitle:      'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;
    --fontSubtitle: 'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;
    --fontText:      'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;

    --titleSize: 4vh;                        
    --subTitleSize: 2vh;               
    --textSize: 2.6vh;                     

    --textColor: rgb(255, 255, 255);
    --containerColor: rgba(243, 243, 243, 0.103);
    --hoverColor:rgba(228, 228, 228, 0.219);
    --activeColor: rgba(207, 206, 206, 0.233);
    --borderColor: rgba(255, 255, 255, 0.658);
 
}

html {
    position: fixed;
}

body {
    background-image: linear-gradient(to bottom, purple,rgb(0, 162, 255));
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    color: var(--textColor);
    position: fixed;
}

body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

header {
    display: block;
    padding: 5px;
    width: 212px;
    margin: 6px auto 2.5px auto;
    text-align: center;
    border-radius: 30vh;
}

header h1 {
    width: fit-content;
    margin: auto;
    font-size: var(--titleSize);
    font-family: var(--fontTitle);
    padding: 1px;
}

header p {
    text-indent: 15px;
    font-family: var(--fontSubtitle);
    font-size: var(--subTitleSize);
    padding: 0.5px 2.5px;
}

nav {
    display: block;
    width: fit-content;
    margin: auto;
}

nav a.button {
    display: block;
    margin: 10px auto;
    color: var(--textColor);
    font-family: var(--fontSubtitle);
    padding: 10px 41px;
    font-size: var(--subTitleSize) ;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    width: 150px;
}

nav a.button:hover {
    cursor: pointer;
    background-color: var(--hoverColor);
}

nav a.button:active {
    background-color: var(--activeColor);
}

footer {
    position: absolute;
    width: 100vw;
    bottom: 0vh;

    display: block;
    margin-top: 20px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.329);
    padding: 8px;
    background-color: black;
    text-align: center;
    font-size: var(--subTitleSize);
}

.container {
    background-color: var(--containerColor);
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.322), inset 1px 1px 1px rgba(0, 0, 0, 0.322);
}