@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 2.6vh;
    line-height: 4vh;
    box-sizing: border-box;
}

:root {
    --fontTitle:      'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;
    --fontSubtitle: 'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;
    --fontText:      'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;

    --titleSize: 4vh;                        
    --subTitleSize: 2vh;               
    --textSize: 2.6vh;                     

    --textColor: rgb(255, 255, 255);
    --containerColor: rgba(243, 243, 243, 0.103);
    --hoverColor:rgba(228, 228, 228, 0.219);
    --activeColor: rgba(207, 206, 206, 0.233);
    --borderColor: rgba(255, 255, 255, 0.658);
 
}

html {
    position: fixed;
}

body {
    background-image: linear-gradient(to bottom, purple,rgb(0, 162, 255));
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    color: var(--textColor);
    position: fixed;
}

body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

header {
    display: block;
    padding: 1vh;
    width: 70vw;
    margin: 1.80vw auto 0.80vw auto;
    text-align: center;
    border-radius: 30vh;
}

header h1 {
    font-size: var(--titleSize);
    font-family: var(--fontTitle);
    padding: 0.2vh;
}

header p {
    text-indent: 3vh;
    font-family: var(--fontSubtitle);
    font-size: var(--subTitleSize);
    padding: 0.1vh 0.5vh;
}

nav {
    margin: auto;
    width: 100vw;
}

nav a.button {
    display: block;
    margin: 2.0vh auto 2.0vh auto;
    color: var(--textColor);
    font-family: var(--fontSubtitle);
    padding: 2vh 8vh;
    font-size: var(--subTitleSize) ;
    text-align: center;
    text-decoration: none;
    border-radius: 2.1vh;
    width: 30vh;
}

nav a.button:hover {
    cursor: pointer;
    background-color: var(--hoverColor);
}

nav a.button:active {
    background-color: var(--activeColor);
}

footer {
    position: absolute;
    width: 100vw;
    bottom: 0vh;

    display: block;
    margin-top: 4.0vh;
    box-shadow: 0px -1vh 2.0vh rgba(0, 0, 0, 0.329);
    padding: 1.5vh;
    background-color: black;
    text-align: center;
    font-size: var(--subTitleSize);
}

.container {
    background-color: var(--containerColor);
    border: 0.2vh solid var(--borderColor);
    border-radius: 3vh;
    box-shadow: 0.6vh 0.6vh 1vh rgba(0, 0, 0, 0.322), inset 0.2vh 0.2vh 0.2vh rgba(0, 0, 0, 0.322);
}