* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    background-color: blueviolet;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    min-width: 460px;
    width: 60vw;
    height: 50vh;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.733);
}

section#login {
    position: absolute;
    top: 0%;
    left: 0%;

    width: 50%;
    height: 100%;
}

section#img {
    position: absolute;
    top: 0%;
    left: 50%;

    width: 50%;
    height: 100%;
}

section#img img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 128px;
}

section#img p {
    display: inline-block;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);

}

div#name, div#password {
    color:white;
    font-weight: bold;
    text-indent: 7px;
    display: inline-block;
    margin: 20px 0px 0px 20px;
    padding: 5px;
    background-color: purple;
    border-radius: 10px;
    font-size: 1.3em;
}

label {
    font-size: 20px;
}

input {
    max-width: 200px;
    height: 2.2em;  
    background-color: rgb(133, 219, 198);
    border-radius: 5px;
    text-indent: 10px;
}

input[type="text"]:focus, input[type="password"]:focus {
    background-color: white;
}

input[type="button"] {
    text-align: center;
    margin: 20px 0px 0px 20px;
    padding: 20px;
    text-indent: 0px;
}

input#enter {
    border: 1px solid rgb(101, 167, 150);;
}

input#enter:hover {
    background-color: rgb(101, 167, 150);
}

input#enter:active {
    background-color: rgb(114, 190, 171);
}

input#forgot {
    background-color: white;
    border: 1px solid rgb(101, 167, 150);
}

input#forgot:hover {
    background-color: rgb(130, 218, 196);
}

input#forgot:active {
    background-color: rgb(114, 190, 171);
}