@charset "utf-8";

* {
    font-family:  'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;
    font-size: 1.1em;
}

header {
    width: 100%;
    margin: auto;
    padding: 20px 0px;
    background-color: rgb(102, 151, 255);
}

header a {
    margin-top: 15px;
    text-align: center;
    width: 700px;
    margin: 0px;
}

main {
    margin: 15px auto;
    width: 700px;
}

footer {
    position: relative;
    bottom: 0%;
    width: 100%;
    padding: 15px 0px;
    background-color: black;
    color: white;
    text-align: center;
}