@charset "utf-8";

@font-face {
    font-family: 'digital';
    src: url(fonts/digital-7.ttf);
    /*
    digital_7
    font made by 
    https://www.dafont.com/pt/digital-7.font
    free to personal use, acess in 2023
    */
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(209, 209, 209);
    background-image: linear-gradient(to bottom, rgb(165, 136, 42), rgb(61, 15, 15));
    font-family: 'digital' ,Arial, Helvetica, sans-serif;
    letter-spacing: 0.1em;
    font-size: 2em;
    height: 100vh;
}

div#analog-clock {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 300px;
    height: 300px;
    background-color: gray;
    box-shadow: 3px 3px 10px black, inset 10px 10px 100px rgba(0, 0, 0, 0.603);
    border: 1px solid black;
    border-radius: 50%;
}

div#axis {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;

    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
}

div.pointer {
    display: block;
    position: absolute;
    transform: translate(-50%,0%);
    top: 50%;
    left: 50%;

    border-radius: 0% 0% 35% 35%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.562);
}

div#hours {
    width: 7px;
    height: 100px;
    background-color: white;
}

div#minutes {
    width: 7px;
    height: 140px;
    background-color: rgb(255, 255, 255)
}

div#seconds {
    width: 2px;
    height: 140px;
    background-color: red;
}

div#digital-clock {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 220px;
    text-align: center;
    font-size: 2em;

    display: inline-block;
    padding: 20px 50px;
    border: 2px solid rgb(255, 255, 255);
    outline: 6px solid black;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.226);
    color: red;
    text-shadow: 0px 0px 20px rgba(255, 0, 0, 0.904);
}