@charset "utf-8";

@font-face {
    font-family: 'digital';
    src: url(fonts/digital-7.ttf);
    /*
    digital_7
    font made by 
    https://www.dafont.com/pt/digital-7.font
    free to personal use, acess in 2023
    */
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    position: fixed;
}

body {
    background-color: rgb(209, 209, 209);
    background-image: linear-gradient(to bottom, rgb(165, 136, 42), rgb(61, 15, 15));
    height: 100vh;
    width: 100vw;
}

div#analog-clock {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 45vh;
    height: 45vh;
    background-color: gray;
    box-shadow: 0.06vh 0.06vh 0.2vh black;
    border: 0.2vh solid black;
    border-radius: 50%;
    background-image: radial-gradient(ellipse at 50% 50%,rgb(150, 150, 150), rgb(63, 63, 63));
}

div.pointer {
    display: block;
    position: absolute;
    transform: translate(-50%,0%);
    top: 49.5%;
    left: 49%;

    transform-origin: 50% 1%;
    border-radius: 0% 0% 35% 35%;
    box-shadow: 0px 0.3vh 1vh rgba(0, 0, 0, 0.562);
}

div#hours {
    width: 1.2vh;
    height: 14vh;
    background-color: white;
}

div#minutes {
    width: 1.2vh;
    height: 20vh;
    background-color: rgb(255, 255, 255)
}

div#seconds {
    top: 50%;
    left: 50%;
    width: 0.6vh;
    height: 20vh;
    background-color: red;
}

div#axis {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;

    width: 2.6vh;
    height: 2.6vh;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
}

div#numbers span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    text-align: center;
    color: white;
    font-size: 4vh;
}

div#bars {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 100%;
    height: 100%;
}

div#bars div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1.0vh;
    height: 0.4vh;
    background-color:rgb(255, 255, 255);
}

div#digital-clock {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 28vh;

    display: inline-block;
    padding: 1.0vh 10vh 4vh 10vh;
    border: 0.4vh solid rgb(255, 255, 255);
    outline: 1.2vh solid black;
    border-radius: 2vh;
    background-color: rgb(0, 0, 0);
    user-select: none;
}

div#digital-clock #player {
    color: rgba(255, 255, 255, 0.541);
    cursor: pointer;
    display: block;
    width: max-content;
    margin:auto;
}

div#digital-clock #time {
    font-family: 'digital' ,Arial, Helvetica, sans-serif;
    letter-spacing: 0.2vh;
    font-size: 10vh;
    display: block;
    width: max-content;
    margin-left: -2vh;
    box-shadow: 1.2vh 1.2vh 2vh rgba(0, 0, 0, 0.226);
    color: red;
    text-shadow: 0px 0px 4vh rgba(255, 0, 0, 0.904);
}