* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    position: fixed;
}

canvas {
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}