* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

main {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

div#sun,div#earth,div#moon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

div#sun:hover, div#earth:hover, div#moon:hover {
    border: 2px solid white;
}

div#sun {
    width: 20vw;
    height: 20vw;

    background-color: yellow;
    box-shadow: 0px 0px 13px white;
}

div#earth {
    width: 10vw;
    height: 10vw;

    background-color: blue;
    background-image: radial-gradient(circle at 100% 0%, darkblue, blue 60%, yellow 95%);
}

div#moon {
    width: 2vw;
    height: 2vw;

    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(10deg, rgb(161, 161, 161) 30%, rgb(255, 255, 255));
}

div#stars {
    background-color: transparent;
    position: absolute;
    top: -73%;
    left: -23%;
    width: 150vw;
    height: 250vh;
}

div.star {
    position: absolute;
    border: 1px solid white;
    width: 1px;
    height: 1px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.514);
}