@charset "UTF-8";

@media screen and (min-width: 768px) {

    * {
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    
        font-size: 1.3vh;
        line-height: 3vh;
        box-sizing: border-box;
    }
    
    :root {
        --fontTitle:      'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;
        --fontSubtitle: 'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;
        --fontText:      'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;
    
        --titleSize: 3vw;                        
        --subTitleSize: 2vw;               
        --textSize: 1.5vw;                     
    
        --textColor: rgb(255, 255, 255);
        --containerColor: rgba(243, 243, 243, 0.103);
        --hoverColor:rgba(228, 228, 228, 0.219);
        --activeColor: rgba(207, 206, 206, 0.233);
        --borderColor: rgba(255, 255, 255, 0.658);
        
    }

    body {
        height: 95vh;
    }

    .container {
        background-color: var(--containerColor);
        border: 1px solid var(--borderColor);
        border-radius: 15px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.322), inset 1px 1px 1px rgba(0, 0, 0, 0.322);
    }

    header {
        width: 1000px;
        margin: 25px auto;
    }

    header h1 {
        width: fit-content;
        margin: auto;
        padding: 20px;
    }

    header p {
        margin-bottom: 15px;
    }

    main {
        margin: auto;
        width: 1000px;
    }

    li {
        margin-top: 41px;
        padding: 27px;
        margin: 41px auto 0px auto;
    }

    li h2 {
        padding: 13px;
        width: fit-content;
    }

    div.paralax {
        display: inline-block;
        margin: 3px;
        height: 162px;
        width: 273px;
    }

    a.button {
        position: absolute;
        padding: 22px 54px;
        margin: 27px;
        border-radius: 1vw;
    }

    footer {
        margin-top: 60px;
        padding: 20px;
    }

}