@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 2.6vh;
    line-height: 4vh;
    box-sizing: border-box;
}

:root {
    --fontTitle:      'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;
    --fontSubtitle: 'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;
    --fontText:      'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;

    --titleSize: 4vh;                        
    --subTitleSize: 2vh;               
    --textSize: 2.6vh;                     

    --textColor: rgb(255, 255, 255);
    --containerColor: rgba(243, 243, 243, 0.103);
    --hoverColor:rgba(228, 228, 228, 0.219);
    --activeColor: rgba(207, 206, 206, 0.233);
    --borderColor: rgba(255, 255, 255, 0.658);
 
}

body {
    background: url(../images/logo.png) no-repeat 50% 50%, rgba(0, 0, 0, 1) linear-gradient(to bottom, purple,rgb(0, 162, 255)) no-repeat 100% 100%;

    height: 95vw;
    color: var(--textColor);
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

header {
    padding: 2.0vw;
    width: 72vw;
    margin: 4.0vw auto;
    text-align: center;
    font-family: var(--fontTitle);
}

header h1 {
    font-family: var(--fontTitle);
    font-size: var(--titleSize);
}

header p {
    font-family: var(--fontSubtitle);
    font-size: var(--subTitleSize);
}

main {
    background-color: rgba(243, 243, 243, 0);
    font-size: var(--fontText);
    padding: 2.0vw;
    width: 70vw;
    margin: auto;
}

li {
    font-family: var(--fontText);
    margin-top: 6.0vw;
    padding: 4.0vw;
    list-style-type: none;
    overflow: hidden;
}

li h2 {
    font-family: var(--fontSubtitle);
    font-size: var(--subTitleSize);
}

li p {
    text-indent: 6.0vw;
    font-family: var(--fontText);
    font-size: var(--textSize);
    margin-bottom: 2.0vw;
}

div.paralax {
    display: block;
    height: 24vw;
    width: 40vw;
    margin: auto;
    box-shadow: 0.6vw 0.6vw 1.0vw rgba(0, 0, 0, 0.322);
    background-position: 50% 50%;
    background-size: 100% 100%;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
}

a.button {
    display: inline-block;
    position: relative;
    transform: translate(-50%);
    left: 50%;

    color: var(--textColor);
    text-decoration: none;
    border-radius: 1.5vw;
    
    background-color: var(--containerColor);
    box-shadow: 0.2vw 0.2vw 0.6vw rgba(0, 0, 0, 0.404);

    padding: 0.8vw 2.4vw;
    margin: 2.0vw;
    font-family: var(--fontText);
    font-size: var(--textSize);
}

a.button:hover {
    background-color: var(--hoverColor);
    box-shadow: 0.2vw 0.2vw 0.6vw rgba(0, 0, 0, 0.692), inset 0.2vw 0.2vw 0.6vw rgba(0, 0, 0, 0.692);
}

a.button:active {
    transition: 0.1s;
    box-shadow: inset 0.2vw 0.2vw 1vw rgba(0, 0, 0, 0.692);
    background-color: var(--activeColor);
}

.container {
    background-color: var(--containerColor);
    border: 0.2vh solid var(--borderColor);
    border-radius: 3vh;
    box-shadow: 0.6vh 0.6vh 1vh rgba(0, 0, 0, 0.322), inset 0.2vh 0.2vh 0.2vh rgba(0, 0, 0, 0.322);
}

footer {
    position: relative;
    bottom: -5%;
    width: 100%;

    display: block;
    margin-top: 2.0vw;
    box-shadow: 0px -1vw 2vw rgba(0, 0, 0, 0.329);
    padding: 1.4vw;
    background-color: black;
    text-align: center;
    font-size: var(--subTitleSize);
}

div#web-project1-img {
    background-image: url(../../projects/clock-test/analog-clock/project-img.png);
}

div#web-project2-img {
    background-image: url(../../projects/clock-test/sunbased-clock/project-img.png);
}

div#web-project3-img {
    background-image: url(../../projects/clock-test/solar-system/project-image.png);
}

div#web-project4-img {
    background-image: url(../../projects/calculator/project-img.png);
}

div#web-project-5-img {
    background-image: url(../../projects/canvas/dontmisstheball/project-img.png);
}

div#java-project1-img {
    background-image: url(java-imgs/simple_chat.png);
}

div#java-project2-img {
    background-image: url(java-imgs/tetris.png);
}