@charset "UTF-8";

:root {
    --backgroundColor: rgb(245, 245, 245);
    --headerColor: rgb(212, 212, 212);
    --textColor: 'rgb(240,0,0)';
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05em;
    line-height: 1.5em;
    box-sizing: border-box;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    overflow-x: hidden;
}

h2 {
    font-family: var(--font4);
    font-size: 1.5em;
}

main {
    padding: 10px;
    font-size: 1.2em;
    background-color: rgb(187, 187, 187);
    overflow-y: hidden;
    width: 100vw;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

div.paralax {
    height: 70vh;
    max-width: 100%;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

div#web-project1-img {
    background-image: url(../../projects/clock-test/analog-clock/project-img.png);
}

div#web-project2-img {
    background-image: url(../../projects/clock-test/sunbased-clock/project-img.png);
}

div#web-project3-img {
    background-image: url(../../projects/clock-test/solar-system/project-image.png);
}

div#web-project4-img {
    background-image: url(../../projects/calculator/project-img.png);
}

div#web-project5-img {
    background-image: url(../../projects/login/project-img.png);
}

div#java-project1-img {
    background-image: url(java-imgs/simple_chat.png);
}

li {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.61);
    list-style-type: none;
    margin-top: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.692);
    overflow: hidden;
}

li:hover {
    background-color: rgb(228, 228, 228, 0.61);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.692), inset 1px 1px 3px rgba(0, 0, 0, 0.692);
    padding: 5px 0px 0px 5px;
}

li:active {
    transition: 0.1s;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.692);
    background-color: rgb(207, 206, 206, 0.61);
    padding: 10px 0px 0px 10px;
    
}

li:hover .paralax {
    background-position: calc(50% + 5px) calc(50% + 5px);
    height: 69vh;
}

li:active .paralax {
    transition: 0.1s;
    background-position: calc(50% + 10px) calc(50% + 10px);
    height: 68vh;
}

a {
    display: inline;
    color: var(--textColor);
    text-decoration: none;
}

a.button {
    display: block;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 7px 12px;
}

p {
    text-indent: 30px;
}