@charset "UTF-8";

@media screen and (min-width: 768px) {

    * {
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    
        font-size: 1.3vh;
        line-height: 3vh;
        box-sizing: border-box;
    }
    
    :root {
        --fontTitle:      'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;
        --fontSubtitle: 'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;
        --fontText:      'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;
    
        --titleSize: 3vw;                        
        --subTitleSize: 2vw;               
        --textSize: 1.5vw;                     
    
        --textColor: rgb(255, 255, 255);
        --containerColor: rgba(243, 243, 243, 0.103);
        --hoverColor:rgba(228, 228, 228, 0.219);
        --activeColor: rgba(207, 206, 206, 0.233);
        --borderColor: rgba(255, 255, 255, 0.658);
        
    }

    .container {
        background-color: var(--containerColor);
        border: 0.2vh solid var(--borderColor);
        border-radius: 3vh;
        box-shadow: 0.6vh 0.6vh 1vh rgba(0, 0, 0, 0.322), inset 0.2vh 0.2h 0.2vh rgba(0, 0, 0, 0.322);
    }

    header {
        width: 72vw;
        margin: 4.0vh auto;
    }

    header h1 {
        padding: 1.2vw;
    }

    main {
        width: 75vw;
    }

    li {
        margin-top: 3.0vw;
        padding: 2vw;
    }

    li h2 {
        padding: 1vw;
    }

    div.paralax {
        display: inline-block;
        margin: 0.20vw;
        height: 12vw;
        width: 20vw;
    }

    a.button {
        position: absolute;
        padding: 1.6vw 4.0vw;
        margin: 2vw;
        border-radius: 1vw;
    }

}