@charset "UTF-8";

:root {
    --backgroundColor: rgb(245, 245, 245);
    --headerColor: rgb(212, 212, 212);
    --textColor: 'rgb(240,0,0)';
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05em;
    line-height: 1.5em;
    box-sizing: border-box;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    overflow-x: hidden;
}

h2 {
    font-family: var(--font4);
    font-size: 1.5em;
}

main {
    padding: 10px;
    font-size: 1.2em;
    background-color: rgb(187, 187, 187);
    overflow-y: hidden;
    width: 100vw;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

div.paralax {
    height: 300px;
    max-width: 100%;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

div#project1-img {
    background-image: url(../../projects/clock-test/analog-clock/project-img.png);
}

div#project2-img {
    background-image: url(../../projects/clock-test/sunbased-clock/project-img.png);
}

div#project3-img {
    background-image: url(../../projects/clock-test/solar-system/project-image.png);
}

div#project4-img {
    background-image: url(../../projects/calculator/project-img.png);
}

li {
    border-radius: 10px;
    background-color: white;
    list-style-type: none;
    margin-top: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.692);
}

li:hover {
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.692);
    background-color: rgb(228, 228, 228);
    padding: 10px 0px 0px 10px;
    height: calc(2em + 300px + 47px);
}

li:hover .paralax {
    background-position: 50% calc(50% + 10px);
    height: calc(300px - 10px);
}

li:active {
    background-color: rgb(207, 206, 206);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.692), inset 1px 1px 3px rgba(0, 0, 0, 0.692);
}

a.button {
    display: block;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 7px 12px;
    color: var(--textColor);
    text-decoration: none;
}

p {
    text-indent: 30px;
}