/* You can add global styles to this file, and also import other style files */

@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

.container {
    background-color: var(--containerColor);
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.322), inset 1px 1px 1px rgba(0, 0, 0, 0.322);
    box-sizing: border-box;
}

.button {
    display: inline-block;
    position: relative;
    transform: translate(-50%);
    left: 50%;

    color: var(--textColor);
    text-decoration: none;
    vertical-align: auto;
    border-radius: 10px;
    
    background-color: var(--containerColor);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);

    padding: 4px 12px;
    margin: 10px;
    font-family: var(--fontText);
    font-size: var(--textSize);
}

.button:hover {
    background-color: var(--hoverColor);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.692), inset 1px 1px 3px rgba(0, 0, 0, 0.692);
}

.button:active {
    transition: 0.1s;
    box-shadow: inset 1px 1px 0.5px rgba(0, 0, 0, 0.692);
    background-color: var(--activeColor);
}

.expansive {
    width: inherit;
    height: inherit;
    padding: inherit;
    box-sizing: border-box;
}