/* You can add global styles to this file, and also import other style files */
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-size: 1.10em;
}

:root {
    --containerColor: rgba(255,255,255,0.2);
    --borderColor: rgb(255,255,255);
    --textColor: rgb(0,0,0);
    --textSize: 20px;
    --hoverColor: rgba(200,200,200,0.2);
    --activeColor: rgba(155,155,155,0.2);
    
    --fontTitle:      'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;
    --fontSubtitle: 'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;
    --fontText:      'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;

    --titleSize: 3vw;                        
    --subTitleSize: 2vw;               
    --textSize: 1.5vw;

}

body {
    background-color: rgb(226, 226, 226);
}

.container {
    background-color: var(--containerColor);
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.322), inset 1px 1px 1px rgba(0, 0, 0, 0.322);
    box-sizing: border-box;
}

.button {
    display: inline-block;
    position: relative;
    transform: translate(-50%);
    left: 50%;

    color: var(--textColor);
    text-decoration: none;
    vertical-align: auto;
    border-radius: 15px;
    
    background-color: var(--containerColor);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);

    padding: 4px 12px;
    margin: 10px;
    font-family: var(--fontText);
    font-size: var(--textSize);
}

.button:hover {
    background-color: var(--hoverColor);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.692), inset 1px 1px 3px rgba(0, 0, 0, 0.692);
}

.button:active {
    transition: 0.1s;
    box-shadow: inset 1px 1px 0.5px rgba(0, 0, 0, 0.692);
    background-color: var(--activeColor);
}

.expansive {
    width: inherit;
    height: inherit;
    padding: inherit;
    box-sizing: border-box;
}




/*@media screen and (min-width: 768px) {

    * {
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    
        font-size: 1.3vh;
        line-height: 3vh;
        box-sizing: border-box;
    }
    
    :root {
        --fontTitle:      'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;
        --fontSubtitle: 'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;
        --fontText:      'Gruppo', Verdana, 'Geneva', Tahoma, sans-serif;
    
        --titleSize: 3vw;                        
        --subTitleSize: 2vw;               
        --textSize: 1.5vw;                     
    
        --textColor: rgb(255, 255, 255);
        --containerColor: rgba(243, 243, 243, 0.103);
        --hoverColor:rgba(228, 228, 228, 0.219);
        --activeColor: rgba(207, 206, 206, 0.233);
        --borderColor: rgba(255, 255, 255, 0.658);
        
    }
    */