@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    user-select: none;
}

:root {
    --borderColor: rgb(0, 142, 170);
    --backgroundColor: rgb(130, 236, 255);
    --bodyBackgroundColor: rgb(0, 217, 255);
    --textColor: rgb(0, 51, 61);
}

html {
    position: fixed;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bodyBackgroundColor);
}

canvas {
    display: block;
    border: 3px solid var(--borderColor);
    border-radius: 15px;
    width: 95vw;
    height: 70vh;
    margin: 10px auto;
    user-select: all;
    background-color: var(--backgroundColor);
}

div#scoreboard {
    display: inline-block;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    border-radius: 15px;
    border: 3px solid var(--borderColor);
    background-color: var(--backgroundColor);
    color: var(--textColor);
    padding: 5px;
}

div#end {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 200px;
    height: 150px;

    border: 3px solid var(--borderColor);
    background-color: var(--backgroundColor);
    border-radius: 10px;
    padding: 10px;

    color: var(--textColor);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
}

div#end a {
    position: relative;
    top: 25%;

    display: block;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid var(--borderColor);
    color: var(--textColor);
    background-color: rgb(181, 244, 255);
}

div#end a:hover {
    font-weight: bold;
}